.nodeContainer {
  --track-col: 1;
  --track-row: 1;
  grid-area: var(--track-row) / var(--track-col); /* note = y/x */
}

.nodeButton {
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.nodeButton svg {
  width: 2rem;
  height: 2rem;
  fill: lightblue;
}
