.container {
  display: flex;
  flex-direction: column-reverse;
}

.grid {
  --cell-width: 100px;
  --cell-height: 100px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: max-content;
}

.level {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-width));
  grid-template-rows: repeat(2, var(--cell-height));
}

.player {
  --x: 0;
  --y: 0;
  position: absolute;
  height: var(--cell-height);
  width: var(--cell-width);
  top: calc(var(--y) * var(--cell-height));
  left: calc(var(--x) * var(--cell-width));
  display: grid;
  place-items: center;
}

.cell:nth-of-type(n + 4) {
  transform: translateX(calc(var(--cell-width) / 2));
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: calc(100% + calc(100% / 6));
  height: 100%;
}
