.container {
}

.grid {
  --cell-width: 150px;
  --cell-height: 100px;
  --offset: calc(var(--cell-width) / 2);
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: max-content;
}

.level {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-width));
  grid-template-rows: repeat(2, var(--cell-height));
}

.playerContainer {
  position: absolute;
  height: 100%;
  width: calc(100% + var(--offset));
  left: 0;
  top: 0;
  pointer-events: none;
}

.player {
  --x: 0;
  --y: 0;
  position: absolute;
  height: var(--cell-height);
  width: var(--cell-width);
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  font-size: 2rem;
  z-index: 1;
}

.cell:nth-of-type(n + 4) {
  transform: translateX(var(--offset));
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: calc(100% + var(--offset));
  height: 100%;
}
