.container {
}

.title {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.game {
  --cell-width: 150px;
  --cell-height: 100px;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  aspect-ratio: 16/9;
}

.level {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-width));
  grid-template-rows: repeat(2, var(--cell-height));
}

.player {
  /* default player to first cell to make relative animation easier */
  grid-area: 1 / 1;
}

.playerIcon {
  transform: translate(-50%, -50%) scale(2);
  width: 2ch;
}

.cell {
  background: transparent;
  border: 0;
  font-size: 2rem;
  z-index: 1;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.content {
  max-width: 300px;
  margin: 0 auto;
  font-size: 18px;
}
